@model IEnumerable<LOD_APR.Areas.Admin.Models.MAE_sujetoEconomico>
@using LOD_APR.Models

<table class="table table-hover table-condensed" id="tablaDatos">
    <thead>
        <tr>
            <th>Opciones</th>
            <th>
                @Html.DisplayNameFor(model => model.Rut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RazonSocial)
            </th>
            <th>
                <center>Tipo de Empresa</center>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MAE_ciudad.Ciudad)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
        </tr>
    </thead>
  
    <tbody>
            @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            <div class="btn-group pull-left" role="group" aria-label="...">
                                @Ajax.RawActionLink(string.Format("<i class=\"fa fa-info-circle\"></i>"), "Details", "SujetoEconomico", new { id = item.IdSujEcon },
                                    new AjaxOptions
                                    {
                                        HttpMethod = "GET",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "modalCanvas",
                                        OnSuccess = "mae_sujetos.initModal(data,status,xhr);",
                                    }, new { @class = "btn btn-info btn-xs" })

                                @if (Html.ValidaPermisos("0010000002"))
                                {
                                    <a href="@Url.Action("Edit", "SujetoEconomico", new { id = item.IdSujEcon })" type="button" class="btn btn-xs btn-warning"><i class="fa fa-edit"></i></a>
                                }

                                @if (Html.ValidaPermisos("0010000003"))
                                {

                                    var listaUser = item.Sucursales.ToList();
                                    List<ApplicationUser> listaAux = new List<ApplicationUser>();
                                    foreach (var listUser in listaUser)
                                    {
                                        listaAux.AddRange(listUser.Usuarios);
                                    }


                                    if (listaAux.Count() == 0)
                                    {
                                                @Ajax.RawActionLink(string.Format("<i class=\"fa fa-trash\"></i>"), "Delete", "SujetoEconomico", new { id = item.IdSujEcon },
                                                         new AjaxOptions
                                                         {
                                                             HttpMethod = "GET",
                                                             InsertionMode = InsertionMode.Replace,
                                                             UpdateTargetId = "modalCanvas",
                                                             OnBegin = "$(\".panel-load\").addClass(\"sk-loading\");",
                                                             OnSuccess = "mae_sujetos.initModal(data,status,xhr);"
                                                         }, new { @class = "btn btn-danger btn-xs" })
                                            
                                        }
                                    }

                            </div>
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Rut)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RazonSocial)
                        </td>

                        <td>
                         @{ string tipo = "Contratista";
                             if (item.EsMandante)
                             {
                                 tipo = "Empresa Fiscalizadora";
                             }else if (item.EsGubernamental)
                             {
                                 tipo = "Organismo de Gobierno";
                             }

                          }
                            <center>@tipo</center>
            
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MAE_ciudad.Ciudad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Activo)
                        </td>
                    </tr>
            }
    </tbody>


</table>
