@model IEnumerable<LOD_APR.Areas.Admin.Models.MAE_opcionesMenu>

@{
    ViewBag.Title = "Index";
}

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading hbuilt">
                    <div class="row">
                        <div class="col-xs-8">

                        </div>
                        <div class="col-xs-4">
                            @Ajax.RawActionLink(string.Format(" <i class=\"fa fa-plus\"></i> Nueva Opcion "), "Create", "opcionesMenu", new { Id = ViewBag.Id },
                                                      new AjaxOptions
                                                      {
                                                          HttpMethod = "GET",
                                                          InsertionMode = InsertionMode.Replace,
                                                          UpdateTargetId = "modalCanvas",
                                                          OnSuccess = "mae_opcionesMenu.initModal(data,status,xhr);"
                                                      }
                                                      , new { @class = "btn btn-sm btn-success pull-right" })




                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" id="divTableDatos">
                        @Html.Action("getTable", new { Id = ViewBag.Id })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalCanvas"></div>




@section Styles {
    @Styles.Render("~/bundles/datatables/css")

}
@section Scripts {
    @Scripts.Render("~/bundles/ladda/js")
    @Scripts.Render("~/bundles/CommonHelpers")
    @Scripts.Render("~/bundles/datatables/js")
    @Scripts.Render("~/bundles/datatablesBootstrap/js")
    @Scripts.Render("~/bundles/MAE_opcionesMenu")

    <script type="text/javascript">
        var mae_opcionesMenu;

        $(document).ready(function () {
            mae_opcionesMenu = new MAE_opcionesMenu("Admin", "opcionesMenu", "@ViewBag.Id");

        });
    </script>
}