@model LOD_APR.Areas.GLOD.Models.LOD_LibroObras
@using LOD_APR.Areas.GLOD;
@using LOD_APR.Areas.GLOD.ModelsViews;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/GLOD/Views/Shared/_Layout.cshtml";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Libro de Obras: @Model.NombreLibroObra</a></li>
                    <li>
                        <span>Listado de Libros</span>
                    </li>
                </ol>
            </div>
            
            <h2 class="font-light m-b-xs">
                @if (ViewBag.Tipo == 0)
                {
                    <a href="@Url.Action("Admin", "Home", new { Area = "GLOD", id = ViewBag.IdLod, tipo = "l_" })" class="btn btn-warning"><i class="fa fa-reply"></i></a>
                }
                else
                {
                    <a href="@Url.Action("InicioRapido", "Contratos", new { Area = "GLOD"})" class="btn btn-warning"><i class="fa fa-reply"></i></a>
                }
                Libro de Obras: @Model.NombreLibroObra
            </h2>
            <small>Interfaz de gestión de todos los activos de la empresa</small>
        </div>
    </div>
</div>

<div class="content" id="mainApp">
    <glod-anotacion tabla="dtAnotaciones" :idlibro="@Model.IdLod" inline-template>
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="hpanel" style="border-top:2px solid @Model.MAE_TipoLOD.Color;">
                    <div class="panel-body ">
                        <div class="row">
                            <div class="col-sm-12">
                                @{
                                    int IdLod = ViewBag.IdLod;
                                    string IdUserActual = ViewBag.IdUserActual;
                                }

                                @if (Html.ValidaRoles(IdLod, 2, IdUserActual) && !ViewBag.ContratoLiquidado && Model.Estado == 1)
                                {
                                    <modal-button id="btnAdActivo"
                                                  get-url="/GLOD/Anotaciones/AddAnotacion?IdLibro=@Model.IdLod"
                                                  post-url="/GLOD/Anotaciones/AddAnotacion"
                                                  form-name="Nueva Anotación" button-name="Nueva Anotación"
                                                  button-class="btn btn-warning2 btn-block m-b-md"></modal-button>
                                }
                                else
                                {
                                    @*<button type="button" class="btn btn-warning2 btn-block m-b-md" disabled><i class="fa fa-archive"></i> Libro Archivado</button>*@
                                }
                                <div class="space-20"></div>
                                <h5><b>Filtro Rápido</b></h5>
                                <div class="row">
                                    <div class="col-sm-12 m-b-sm">
                                        <data-table-search :tableid="tabla"></data-table-search>
                                    </div>
                                </div>
                                @if (Html.ValidaRoles(IdLod, 1, IdUserActual))
                                {
                                    <ul class="mailbox-list">
                                        <li @@click="onFiltroRapido(1,@Model.IdLod)"><i class="fa fa-inbox "></i> Bandeja Principal <span class="label label-default pull-right">{{filtrorapido.Principal}}</span></li>
                                        <li @@click="onFiltroRapido(2,@Model.IdLod)"><i class="fa fa-envelope-o"></i> Mis Publicaciones <span class="label label-default pull-right">{{filtrorapido.MisPub}}</span></li>
                                        <li @@click="onFiltroRapido(3,@Model.IdLod)"><i class="fa fa-book"></i> Mis Borradores <span class="label label-default pull-right">{{filtrorapido.Borradores}}</span></li>
                                        <li @@click="onFiltroRapido(4,@Model.IdLod)"><i class="fa fa-star-o"></i> Mis Destacadas <span class="label label-default pull-right">{{filtrorapido.Destacadas}}</span></li>
                                        <li @@click="onFiltroRapido(5,@Model.IdLod)"><i class="fa fa-user"></i> Nombrado en <span class="label label-default pull-right">{{filtrorapido.Nombrado}}</span></li>
                                        <li @@click="onFiltroRapido(6,@Model.IdLod)"><i class="fa fa-exclamation-circle"></i> Mis Firmas Pendientes <span class="label label-default pull-right">{{filtrorapido.FirmasPendientes}}</span></li>
                                        <li @@click="onFiltroRapido(7,@Model.IdLod)"><i class="fa fa-exclamation-circle"></i> Mis Respuestas Pendientes <span class="label label-default pull-right">{{filtrorapido.RespuestasPendientes}}</span></li>
                                    </ul>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="space-20"></div>
                                <h4>Filtro Avanzado</h4>
                                <hr class="m-t-xs" />
                                <form action="@Url.Action("GetFiltroAvanzado","Anotaciones",new { area="GLOD"})" method="post" enctype="multipart/form-data" v-on:submit.prevent :id="'form_' + tabla">
                                   <input type="hidden" name="IdLibro" value="@ViewBag.IdLod" />
                                    <div class="form-group">
                                        <label class="control-label" for="IdFormEval">Remitente</label>
                                        @Html.DropDownList("IdRemitente", null, htmlAttributes: new { @class = "form-control selectpicker", @data_live_search="true", @multiple="", @title="Seleccione una opción", @data_max_options = "1" })
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="IdFormEval">Destinatario</label>
                                        @Html.DropDownList("IdDestinatario", null, htmlAttributes: new { @class = "form-control selectpicker", @data_live_search = "true", @multiple = "", @title = "Seleccione una opción", @data_max_options = "1" })
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="searchCuerpo">Contenido Cuerpo</label>
                                        <input class="form-control" type="text" name="searchCuerpo" placeholder="Buscar en Cuerpo">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Fecha Publicación</label>
                                        <date-picker v-model="rango" format="DD-MM-YYYY" :placeholder="'Seleccione un Rango'" range :input-attr="{name:'FechaPub'}"></date-picker>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <button-submit-filter :table-id="tabla"></button-submit-filter>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="hpanel" style="border-top: 3px solid @Model.MAE_TipoLOD.Color;">
                    <div :class="['panel-body panel-load',showSpinner?'sk-loading':'']" style="padding:0;margin:0">
                        <div class="panel-heading hbuilt">
                            <div class="mail-box-header">
                                <div class="row">
                                    <div class="col-md-12" style="text-align:center;">
                                        <h3 class="text-warning2" style="margin-top:8px; color:@Model.MAE_TipoLOD.Color;"><b>{{Titulo}}</b></h3>
                                    </div>
                                </div>
                                <div class="col-md-12 ">
                                    <br />
                                </div>
                            </div>
                           
                            <div class="panel-body" style="overflow:auto">
                                <div class="row">
                                    <div class="col-md-12">
                                         @if (Html.ValidaRoles(IdLod, 1, IdUserActual)) 
                                             {
                                                <data-table id="datatableActivos" :tableid="tabla" inline-template>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                    
                                                                    <data-table-top @@change="refreshData" @@search="onSearch"></data-table-top>
                                                                    @Html.Partial("_GetTable", ViewBag.Anotaciones as List<AnotaTablaView>)
                                                                    <data-table-paginador @@click="changePage" :pagina-actual="PaginaActual" :pagina-final="PaginaFinal" :total-paginas="TotalPaginas" :total-registros="tableRows.length" :list-paginas="ListPaginas"></data-table-paginador>
                                                         
                                                        </div>
                                                    </div>
                                                </data-table>
                                             }
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="sk-spinner sk-spinner-wandering-cubes">
                            <div class="sk-cube1"></div>
                            <div class="sk-cube2"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </glod-anotacion>
</div>



@section Styles {

    <link href="~/Vendor/summernote/dist/summernote.css" rel="stylesheet" />
    <link href="~/Vendor/summernote/dist/summernote-bs3.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/Vendor/summernote/dist/summernote.min.js"></script>
    <script src="~/Scripts/app/GLOD_Anotacion.vue.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            new Vue({
                el: "#mainApp"
            });

        });
    </script>
}

