@model LOD_APR.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Restablecer contraseña";
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
}

<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center m-b-md">
                        <div class="m">
                            <img src="~/Content/img/LOD_APR.png" class="img-responsive m-t-md" />
                        </div>

                    </div>
                    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        if(ViewBag.create != 1)
                        {
                            <h4>Restablezca su contraseña.</h4>
                        }
                        else
                        {
                           <h4>Creación de Contraseña</h4>
                        }

                        <hr />
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Code)
                        <div class="form-group">
                         
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                @if(ViewBag.create != 1)
                                {
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control"})
                                }
                                else
                                {
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = "readonly" })
                                }
                               
                            </div>
                        </div>
                        <div class="form-group">
      
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-md-12">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-success btn-block" value="Restablecer" />
                            </div>
                        </div>}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <small>Powered by MDTech Ltda.</small>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
